<section class="w-full backImage items-center text-center text-secondary">
    <div>
        <h1 class="py-10 text-8xl text-primary">
            {{ this.paramText.home.saludo }}
        </h1>
        <h3 class="pb-10 text-2xl">
            {{ this.paramText.home.presentacionTitulo }}
        </h3>
    </div>
    <div name="columnContainer" class="pb-24 flex flex-col lg:flex-row justify-around items-center">
        <div class="text-left w-4/5 lg:w-2/5 lg:ml-10">
            <h3 class="text-xl font-bold mb-3">
                {{ this.paramText.home.columna1.subtitulo }}
            </h3>
            <p>
                {{ this.paramText.home.columna1.texto }}
            </p>
            <button class="text-m mt-5 p-2 mb-14 px-5 text-white bg-primary hover:bg-hover" (click)="redirect('about')">
                {{ this.paramText.home.columna1.botonMas }}
            </button>
        </div>
        <div class="text-center lg:text-left w-3/5 lg:w-1/5">
            <h3 class="text-xl font-bold mb-3">
                {{ this.paramText.home.columna2.subtitulo }}
            </h3>
            <p class="text-m font-bold my-2">
                {{ this.paramText.home.columna2.label1 }}
            </p>
            <p>
                {{ this.paramText.home.columna2.texto1 }}
            </p>
            <p class="text-m font-bold my-2">
                {{ this.paramText.home.columna2.label2 }}
            </p>
            <p>
                {{ this.age }}
                {{ this.paramText.home.columna2.texto2 }}
            </p>
            <p class="text-m font-bold my-2">
                {{ this.paramText.home.columna2.label3 }}
            </p>
            <p class="mb-10">
                {{ this.paramText.home.columna2.texto3 }}
            </p>
            <p class="text-m font-bold my-2  border-t border-secondary">
                {{ this.paramText.home.columna2.label4 }}
            </p>
            <div class="text-2xl flex flex-row items-center justify-center lg:justify-start">
                <i class="fab fa-linkedin-in cursor-pointer" (click)="external(this.externals.linkedin)" title="LinkedIn"></i>
                <i class="fab fa-twitter ml-3 cursor-pointer" (click)="external(this.externals.twitter)" title="Twitter"></i>
                <i class="fab fa-github ml-3 cursor-pointer" (click)="external(this.externals.github)" title="GitHub"></i>
                <img src="../../../../assets/images/hackster.svg" (click)="external(this.externals.hackster)" title="Hackster" class="ml-3 cursor-pointer select-none hackster cursor-pointer" style="height: 25px;">
            </div>
        </div>
    </div>
</section>

