<section class="w-full backImage py-1">
    <h1 class="pt-3 text-3xl text-primary m-auto text-center">
        {{ this.paramText.portfolio.navButton }}
    </h1>
    <div *ngFor="let item of paramText.portfolio.elementos, let i = index" [attr.data-index]="i" class="align-center">
        <div name="card" style="height: auto" class="transition duration-200 ease-in-out transform hover:-translate-y-1 hover:scale-105 lg:m-auto border lg:my-5 m-5 flex flex-row bg-white items-center text-secondary select-none lg:w-3/5" [ngClass]="{'flex-row-reverse': direction(i)}">            
            <div name="imageCont" class="flex w-2/5" [ngClass]="{'justify-end': direction(i)}">
                <img [src]="'../../../../assets/images/portfolio/'+item.imagen" style="height: 199px; object-fit:cover;">
            </div>
            <div class="w-3/5 mx-3">
                <p class="font-bold text-xl text-primary">
                    {{item.titulo}}
                </p>
                <p class="text-xs mb-2">
                    {{item.tecnologias}}
                </p>
                <p class="text-sm mb-5">
                    {{item.descripcion}}
                </p>
                <div *ngIf="item.url !== undefined">
                    <p class="select-none cursor-pointer hover:text-hover" (click)="external(item.url)">
                        {{this.paramText.portfolio.verButton}}
                    </p>
                </div>
                <div *ngIf="item.website !== undefined">
                    <p class="select-none cursor-pointer hover:text-hover" (click)="external(item.website)">
                        {{this.paramText.portfolio.webButton}}
                    </p>
                </div>
                <div *ngIf="item.liveDemo !== undefined">
                    <p class="select-none cursor-pointer hover:text-hover" (click)="external(item.liveDemo)">
                        {{this.paramText.portfolio.liveButton}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:w-3/5 lg:m-auto flex flex-col lg:flex-row justify-center my-10">
        <div class="m-auto lg:ml-5 font-bold text-primary w-4/5 lg:w-1/2">
            <p>
                {{this.paramText.portfolio.sub1}}
                <img src="../../../../assets/images/ghb.png" class="w-3/5 lg:w-2/5 lg:ml-2 hoverPer cursor-pointer" (click)="external(this.externals.github)" alt="GitHub">
            </p>
        </div>
        <div class="m-auto mt-5 lg:mt-0 lg:mr-5 font-bold text-primary w-4/5 lg:w-1/2">
            <p>
                {{this.paramText.portfolio.sub2}}
                <img src="../../../../assets/images/hks.png" class="w-3/5 lg:w-2/5 lg:ml-2 hoverPer cursor-pointer" (click)="external(this.externals.hackster)" alt="Hackster">
            </p>
        </div>
    </div>
    <br>
</section>
