<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />
    <title>nedzib</title>
    <!--
Reflux Template
https://templatemo.com/tm-531-reflux
-->
    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../assets/css/fontawesome.css" />
    <link rel="stylesheet" href="../assets/css/templatemo-style.css" />
    <link rel="stylesheet" href="../assets/css/owl.css" />
    <link rel="stylesheet" href="../assets/css/lightbox.css" />
    <link rel="stylesheet" href="../assets/css/own.css" />
    <link rel="icon" href="../assets/images/favicon.ico" type="image/gif" sizes="16x16">
</head>

<body>
    <div id="page-wraper">
        <!-- Sidebar Menu -->
        <div class="responsive-nav">
            <i class="fa fa-bars" id="menu-toggle"></i>
            <div id="menu" class="menu">
                <i class="fa fa-times" id="menu-close"></i>
                <div class="container">
                    <div class="author-content">
                        <h4>Concursos de Hackster</h4>
                        <h5><a href="../index_spa.html">Inicio</a></h5>
                    </div>
                    <nav class="main-nav" role="navigation">
                        <ul class="main-menu">
                            <li><a href="#section1">Revolutionize Your IoT Prototyping</a></li>
                            <li><a href="#section2">ST SensorTile: IoT Sensing Magic!</a></li>
                            <li><a href="#section3">Más proyectos en Hackster</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <section class="section" data-section="section1">
            <div class="container">
                <div class="section-heading">
                    <h2>Revolutionize Your IoT Prototyping</h2>
                    <div class="line-dec"></div>
                </div>
                <div class="left-image-post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="left-image">
                                <img src="../assets/contests/iot.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="right-text">
                                <h4>Smart Home for a Madagascar Hissing Cockroach</h4>
                                <p>
                                    Un "Habitat inteligente" para una mascota exotica usando NXP Rapid IoT y Raspberry Pi 3.
                                </p>
                                <div class="white-button">
                                    <a href="https://www.hackster.io/nedzib/smart-home-for-a-madagascar-hissing-cockroach-1784b8" target="_blank">Ver proyecto</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section" data-section="section2">
            <div class="container">
                <div class="section-heading">
                    <h2>ST SensorTile: IoT Sensing Magic!</h2>
                    <div class="line-dec"></div>
                </div>
                <div class="left-image-post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="left-image">
                                <img src="../assets/contests/alzh.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="right-text">
                                <h4>Data Processing for Patients with Alzheimer's</h4>
                                <p>
                                    Usando los sensores del SensorTile, vamos a proponer un procesamiento de datos para reconocer movimientos comunes en personas con Alzheimer.
                                </p>
                                <div class="white-button">
                                    <a href="https://www.hackster.io/nedzib/data-processing-for-patients-with-alzheimer-s-a41bb1" target="_blank">Ver proyecto</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section contact-me" data-section="section3">
            <div class="container">
                <div class="section-heading">
                    <h2>Más proyectos en Hackster</h2>
                    <div class="line-dec"></div>
                    <span>Puedes ver más de mis proyectos personales y algunos tutoriales en mi cuenta de Hackster.io</span>
                </div>
                <div style="text-align: center">
                    <div class="social-network">
                        <ul class="soial-icons">
                            <li>
                                <a href="https://www.hackster.io/nedzib" target="_blank"><i class="hackster"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../assets/js/isotope.min.js"></script>
    <script src="../assets/js/owl-carousel.js"></script>
    <script src="../assets/js/lightbox.js"></script>
    <script src="../assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $(".main-menu li:first").addClass("active");

        var showSection = function showSection(section, isAnimate) {
            var direction = section.replace(/#/, ""),
                reqSection = $(".section").filter(
                    '[data-section="' + direction + '"]'
                ),
                reqSectionPos = reqSection.offset().top - 0;

            if (isAnimate) {
                $("body, html").animate({
                        scrollTop: reqSectionPos
                    },
                    800
                );
            } else {
                $("body, html").scrollTop(reqSectionPos);
            }
        };

        var checkSection = function checkSection() {
            $(".section").each(function() {
                var $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                    var currentId = $this.data("section"),
                        reqLink = $("a").filter("[href*=\\#" + currentId + "]");
                    reqLink
                        .closest("li")
                        .addClass("active")
                        .siblings()
                        .removeClass("active");
                }
            });
        };

        $(".main-menu").on("click", "a", function(e) {
            e.preventDefault();
            showSection($(this).attr("href"), true);
        });

        $(window).scroll(function() {
            checkSection();
        });
    </script>
</body>

</html>