<section class="w-full backImage">
    <h1 class="pt-5 pb-14 text-3xl text-primary m-auto text-center">
        {{ this.paramText.about.navButton }}
    </h1>
    <div name="columnContainer" class="pb-24 flex flex-col lg:flex-row justify-around lg:items-start items-center">
        <div class="text-left w-4/5 lg:w-2/5 lg:ml-10">
            <h3 class="text-xl font-bold border-b border-secondary">
                <span class="font-normal">👨‍💻</span>{{ this.paramText.about.columna1.subtitulo1 }}
            </h3>
            <p>
                {{ this.paramText.about.columna1.texto1 }}
            </p>
            <h3 class="text-xl font-bold pt-10  border-b border-secondary">
                <span class="font-normal">🤓</span>{{ this.paramText.about.columna1.subtitulo2 }}
            </h3>
            <p>
                {{ this.paramText.about.columna1.texto2 }}
            </p>
            <h3 class="text-xl font-bold pt-10  border-b border-secondary">
                <span class="font-normal">🌱</span>{{ this.paramText.about.columna1.subtitulo3 }}
            </h3>
            <p>
                {{ this.paramText.about.columna1.texto3 }}
            </p>
            <p class="text-primary font-bold cursor-pointer hover:text-hover"(click)="external(this.paramText.about.columna1.url3)">
                {{ this.paramText.about.columna1.label3 }}
            </p>
        </div>
        <div class="text-center lg:text-left w-3/5 lg:w-1/5">
            <h3 class="text-xl font-bold mb-3 mt-8 lg:mt-0">
                {{ this.paramText.about.columna2.subtitulo }}
            </h3>

            <p class="text-m font-bold my-2  border-b border-secondary">
                <span class="font-normal">💻</span>{{ this.paramText.about.columna2.label1 }}
            </p>
            <div class="" >
                <span class="text-secondary" *ngFor="let item of this.paramText.about.columna2.texto1, let i = index" [attr.data-index]="i">
                    <span class="hover:text-hover cursor-pointer" (click)="external(this.paramText.about.columna2.url1[i])">
                        {{ item }}.
                    </span>
                </span>
            </div>

            <p class="text-m font-bold my-2  border-b border-secondary">
                <span class="font-normal">🎓</span>{{ this.paramText.about.columna2.label2 }}
            </p>
            <div class="mb-2" *ngFor="let item of this.paramText.about.columna2.texto2, let i = index" [attr.data-index]="i">
                {{ item }}
                <p class="hover:text-hover cursor-pointer text-xs" (click)="external(this.paramText.about.columna2.url2[i])">
                    {{ this.paramText.about.columna2.textosub2[i] }}
                </p>
            </div>

            <p class="text-m font-bold my-2 border-b border-secondary">
                <span class="font-normal">✨</span>{{ this.paramText.about.columna2.label3 }}
            </p>
            <div class="mb-2" *ngFor="let item of this.paramText.about.columna2.texto3, let i = index" [attr.data-index]="i">
                <p class="hover:text-hover cursor-pointer" (click)="external(this.paramText.about.columna2.url3[i])">
                    {{ item }}
                </p>
                <p class="text-xs">
                    {{ this.paramText.about.columna2.textosub3[i] }}
                </p>
            </div>

            <p class="text-m font-bold my-2 border-b border-secondary">
                <span class="font-normal">📜</span>{{ this.paramText.about.columna2.label4 }}
            </p>
            <div class="mb-2" *ngFor="let item of this.paramText.about.columna2.texto4, let i = index" [attr.data-index]="i">
                {{ item }}
                <p class="text-xs">
                    {{ this.paramText.about.columna2.textosub4[i] }}
                </p>
            </div>
        </div>
    </div>
</section>
